.school-page__school-creator{
    margin-top: 6rem;
    height: 88vh;
    font-weight: 700;
    .school-creator__info-catcher{
        display: flex;
        flex-direction: column;
        margin-left: 2%;
        justify-content: space-evenly;
        height: 12vh;
        input{
            height: 2.5rem;
            border-radius: 1.25rem;
        }
    }
    button{
        height: 2.5rem;
        width: 5rem;
        border-radius: 1.25rem;
    }
}

.school-page__confirm-modal{
    height: 70vh;
    margin-top: 6rem;
    margin-bottom: 1rem;
    width: 80vw;
    margin-left: 2rem;
}
button{
    margin-top:1rem;
}