.standard-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(255, 206, 172);
    height: 2rem;
    min-width: 7rem;
    align-self: center;
}