.login{
    height: 75vh;
    margin-top: 5rem;
    bottom: 0
}

.login__form{
    margin-top: 8rem;
    margin-bottom: 8rem
}

.login__confirm{
    margin-top: 10rem;
    height: 75vh;
}

Link{
    margin-top: 10rem;
}